<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta http-equiv="x-ua-compatible" content="ie=edge">

<link rel="stylesheet" href="https://unpkg.com/bootstrap-material-design@4.0.0-beta.4/dist/css/bootstrap-material-design.min.css" integrity="sha384-R80DC0KVBO4GSTw+wZ5x2zn2pu4POSErBkf8/fSFhPXHxvHJydT0CSgAP2Yo2r4I" crossorigin="anonymous">

<!-- Font Awesome -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

<!-- Bootstrap core CSS -->
<!-- <link href="/stylesheets/bootstrap.min.css" rel="stylesheet"> -->
<%# <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">%>

<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">



<!--<div id="bootstrapCssTest" class="hidden"></div>-->

<%# <!-- Material Design Bootstrap -->
<link href="/stylesheets/mdb.min.css" rel="stylesheet">%>
<%#
<link href="/stylesheets/compiled.min.css" rel="stylesheet">%>
<link href="/stylesheets/defaultStyle.css" rel="stylesheet">
<!-- Your custom styles (optional) -->
<link href="/stylesheets/style.css" rel="stylesheet">

<title>INU Traders</title>
