<!--Not used-->

'<!DOCTYPE html>
<html>
<head>
    <%- include ./partials/head.ejs %>
</head>

<body>
<%- include ./partials/header-nav.ejs %>
  <!--Main layout-->
  <main class="mt-5">
    <!--Main container-->
    <div class="container">
        <!--Grid row-->
        <div class="row">
        </div>
        <!--Grid row-->
    </div>
    <!--Main container-->
  </main>
  <!--Main layout-->
<%- include ./partials/footer.ejs %>


<!--Script for Active Nav Button -->
<script>
$("#btn-About").addClass('active');
</script>

</body>
</html>
